.App {
  text-align: center;
  margin: 0 auto;
}

header {
    position: relative;
    margin-top: 20px;
}
.header-options {
    position:absolute;
    margin-right: 150px;
    right:0;
    top: 0;
    display: flex;
    justify-content: space-between;
}

.header-options > * {
    padding-left: 10px;
}

.sport-buttons > * {
    padding: 20px;

}

.link {
    text-decoration: none;
    color: black;
    max-height: 50px;
}

.sport-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.sportPage {
    display: flex;
}

img {
    max-width: 750px;
    max-height: 750px;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.icon-left {
    cursor: pointer;
    padding-right: 15px;
}

.icon-right {
    cursor: pointer;
    padding-left: 15px;
}